#alerts-table button {
  visibility: hidden;
}

#alerts-table tr:hover button {
  visibility: visible;
}

#alerts-table td {
  vertical-align: middle;
}

.alert-actions {
  text-align: right;
}

[v-cloak] {
  display:none;
}