<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yowl</title>
  <meta name="description" content="">
  <meta name="author" content="Nathan Englert">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/vendor/bulma/bulma.css">
  <link rel="stylesheet" href="static/css/app.css">

  <!-- <link rel="icon" type="image/png" href="../../dist/images/favicon.png"> -->
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1">Yowl</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <table class="table is-striped">
            <tr>
              <td>E-19238</td>
              <td>Something happened somewhere.</td>
              <td><span class="tag is-warning">Warning</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>

  <script src="static/vendor/vue/vue.js"></script>
  <script src="static/js/app.js"></script>
</body>
</html>